.loader{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.572);
    justify-content: center;
    flex-direction: column;
    // transform-style: preserve-3d;
    // transform: perspective(500px) rotateX(45deg);

    // span{
    //     position: absolute;
    //     display: block;
    //     border: 15px solid #fff;
    //     box-sizing: border-box;
    //     border-radius: 50%;
    //     box-shadow: 0 10px #e0e0e0,inset 0 10px 0 #e0e0e0;
    //     animation: animate 4.5s ease-in-out infinite;
    // }

    // @keyframes animate {
    //     0%{
    //         transform: translateZ(-100px);
    //     }
    // }
}