.titlebar {
    height: 40px;
    background: #00000000;
    /* user-select: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    font-size: 12px;
  }
  .titlebar-button:hover {
    background: rgb(152, 0, 0);
  }

  .titlebar h1{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
  }

  .titlebar .options{
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 30px;
  }

  .btns button{
    color: rgb(232, 232, 232);
    margin-right: 4.5vw;
    font-size: 0.8rem;
  }