.backIcon{
    position: fixed;
    top: 4vw;
    left: 2vw;
    font-size: 2rem;
}
.movie-detail-content{
    position: relative;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .img-poster{
        width: 30%;
        height: 80%;
        background-color: transparent;
        border-radius: 10px;
        margin-right: 5%;

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .bottom-title{
        width: 60vw;
        
        position: fixed;
        bottom: 0;
        right: 0;
        

        h1{
        line-height: 10rem;
        font-size: 13rem;
        color: rgba(128, 128, 128, 0.212);
        }
    }

    .movie-detail-des{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;


        h1{
            font-size: 5rem;
            max-width: 50%;
            line-height: 6rem;
        }

        hr{
            margin: 10px 0;
            width: 65%;
            height: 1px;
            border-left: 0;
            border-right: none;
            border-bottom: none;
            border-color: rgba(123, 123, 123, 0.897);
        }

        p{
            font-size: .8rem;
            color: grey;
            max-width: 50%;
        }

        .tags{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info{
                display: flex;

                p{
                    margin-right: 10px;
                }
            }

        }
    }
}