.backIcon{
    position: fixed;
    top: 8vh;
    left: 15vw;
    font-size: 2rem;
    z-index: 2;
}
.movie-detail-content{
    padding-left: 7vw;
    padding-right: 7vw;
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            // width: 100%;
            // background-color: aqua;
            position: fixed;
        bottom: 0;
        // left: 0;
        right: 50%;
        font-size: 2rem;
        color: grey;
        z-index: 20;
        }

    .img-poster{
        width: 35%;
        height: 80%;
        background-color: transparent;
        border-radius: 10px;
        margin-right: 5%;

        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    

    .movie-detail-des{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .stream{
            display: flex;

            .servers{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin-left: 2vw;
                    margin-right: 2vw;
                    font-size: .8rem;
                    cursor: pointer;
                    color: rgb(142, 142, 142);
                }
            }
        }

        button {
                width: 140px;
                height: 40px;
                border-radius: 20px;
                transition: 0.3s ease-in-out width, 0.3s ease-in-out height;
            }

            button:hover {
                color: black;
                width: 150px;
                height: 50px;
            }

            .details {
                -webkit-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                -moz-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.363);
                background-color: red;
                margin-right: 30px;
            }

            // dialog{
            //     background-color: rgb(57, 57, 57);
            //     border: none;
            //     border-radius: 10px;
            //     width: 15vw;
            //     height: 40vh;
            //     margin-left: auto;
            //     margin-right: auto;
            //     margin-top: auto;
            //     margin-bottom: auto;
            // }

            // dialog::backdrop{
                
            //     background: rgba(0, 0, 0, 0.487);
            // }


        h1{
            font-size: 5rem;
            max-width: 80%;
            line-height: 6rem;
            word-break:keep-all;
        }

        hr{
            margin: 20px 0;
            width: 65%;
            height: 1px;
            border-left: 0;
            border-right: none;
            border-bottom: none;
            border-color: rgba(123, 123, 123, 0.897);
        }

        p{
            font-size: .8rem;
            color: grey;
            max-width: 50%;
        }

        .tags{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info{
                display: flex;

                p{
                    margin-right: 10px;
                }
            }

        }
    }
}

.image-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    display:grid 1fr 1fr 1fr;
    column-gap: 10vw;
    row-gap: 2%;
    // width: 100%;
    // height: 100%;
    // background-color: aqua;
    // columns: 3 250px;
    // gap: 15px;

    img{
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
    }
}

.gallery-tab{
        padding-left: 4vw;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i{
            // width: 100%;
            // background-color: aqua;
            position: fixed;
        top: 8vh;
        // left: 0;
        right: 50%;
        font-size: 2rem;
        color: grey;
        z-index: 20;
        }

        .bottom-title{
            // width: 100vw;
            z-index: -1;
            rotate: 0deg;
            position: fixed;
            top: 8vh;
            left: 13vw;
            // right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
    
            h1{
                word-break: break-all;
            line-height: 10rem;
            font-size: 8rem;
            color: rgba(128, 128, 128, 0.255);
            }
        }
        // background-color: aqua;
    // .slide-track{
    //     margin-right: 10%;
    //     height: 50%;
    //     width: 100%;
    //     overflow-x: hidden;
    //     display: flex;

    //     // background-color: aqua;
    
    //     .slide{
    //         height: 100%;
    //         width: 400px;
    //         animation: 30s scroll infinite linear;
    
    //         img{
    //             width: 400px;
    //             height: 800px;
    //             object-fit: cover;
    //         }
    //     }
    
        
    // }
    .left-tab{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        

        .player{
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;

            .cast-div{
                width: 100%;
                padding-top: 5vh;
                display: flex;
                justify-content: start;
                align-items: start;
                h1{
                    font-size: 2rem;
                    margin-right: 2vw;
                }
                .cast{
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 1vw;
                    justify-content: start;
    
                    img{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    p{
                        text-align: center;
                        color: rgba(255, 255, 255, 0.428);
                        font-size: .8rem;
                        text-overflow: ellipsis;
                    }
                }
            }

            .streaming-player{
                width: 100%;
                height: 40%;
                // background-color: aqua;

                img{
                    border-radius: 2px;
                    width: 100%;
                    height: 100%;
                    // height: fit-content;
                    object-fit: cover;
                }

                iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                }
            }

            

            
        }
        .slide-track{
            // background-color: aqua;
            height: 20%;
            // width: 100%;
            right: 5vw;
            left: 5vw;
            position: fixed;
            bottom: 1%;
            // margin-right: 50vw;
            overflow-x: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        
            .slide{
                // background-color: bisque;
                display: flex;
                height: 100%;
                width: 100%;
                animation: 30s scroll infinite linear;
        
                img{
                    width: 100%;
                    border-radius: 2px;
                    margin-right: 5%;
                    height: 100%;
                    margin-bottom: 2%;
                    object-fit: cover;
                }
            }
        
            
        }
    }

    .right-tab{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 2vw;

        h1{
            font-size: 4rem;
            // word-break: break-all;
            width: 40vw;
            line-height: 4rem;
        }

        .btns{
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: space-evenly;
            align-items: start;
            flex-direction: column;

            .stream{
                width: 100%;
                display: flex;
                // justify-content: space-evenly;
                align-items: center;
    
                .servers{
                    margin-right: 5%;
                    // width: 20%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    p{
                        // margin-right: 5%;
                        font-size: .8rem;
                        cursor: pointer;
                        color: rgb(142, 142, 142);
                    }
                }
            }

            button {
                width: 140px;
                height: 40px;
                border-radius: 20px;
                transition: 0.3s ease-in-out width, 0.3s ease-in-out height;
            }

            button:hover {
                color: rgb(255, 255, 255);
                width: 150px;
                height: 50px;
            }

            .details {
                -webkit-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                -moz-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.363);
                background-color: red;
                // margin-right: 30px;
            }

            .add {
                background-color: rgb(40, 40, 40);
                color: white;
            }

            .add:hover {
                color: white;
            }
        }

        .tabs{
            display: flex;
            background-color: rgba(128, 128, 128, 0.588);
            border-radius: 20px;
            height: 5%;

            button{
                border-radius: 20px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-color: transparent;
            }

            #cast{
                background-color: red;
            }

            button:hover{
                color: black;
            }
        }

        .tab-content{
            margin-top: 5vh;
            height: 40%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2%;
            overflow-y: auto;
            .cast{
                width: 100%;
                height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                p{
                    color: rgba(255, 255, 255, 0.428);
                    font-size: .8rem;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    // .left-content{
    //     width: 70%;
    //     height: 70%;

    //     h1{
    //         font-size: 7rem;
    //     }
    //     // background-color: aqua;
        

    //     .cast-content{
    //         width: 100%;
    //         height: 30%;
    //         overflow-y: auto;
    //         display: flex;
    //         align-items: center;
    //     justify-content: center;
    //     flex-direction: row;
            
    //         .cast{
    //             width: 200px;
    //             height: 150px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: space-evenly;

    //             img{
    //                 width: 100px;
    //                 height: 100px;
    //                 border-radius: 50%;
    //             }
    //             p{
    //                 color: rgba(159, 159, 159, 0.428);
    //                 font-size: 1.2rem;
    //                 text-overflow: ellipsis;
    //             }
    //         }
    //     }

    // }
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}