.seasonContent{
    padding: 2%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    
    .inner-back{
        color: white;
        font-size: 2rem;
    }

    .content-grid{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
        row-gap: 20px;
        height: 100%;
        width: 100%;
        overflow-y: auto;

        .season-card{
            position: relative;
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            

            img{
                width: 100%;
                max-height: 350px;
                min-height: 350px;
                height: fit-content;
                object-fit: cover;
                border-radius: 10px;
            }
            .ho{
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 350px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.862);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                transition: opacity .2s ease-in-out;

                button {
                    -webkit-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                    -moz-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                    box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.363);
                    background-color: red;
                    // margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 5px;

                    p{
                        color: black;
                    }
                }

                p{
                    margin: 2px;
                }

                .overview {
                    font-size: .7rem;
                    text-align: center;
                    color: grey;
                }
            }

            .ho:hover{
                opacity: 1;
            }

            .details{
                width: 100%;
                height: 100%;
                display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                
                .title{
                    color: white;
                }
            }
        }
        .episode-card{
            position: relative;
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: aqua;
            

            img{
                width: 100%;
                height: 80%;
                object-fit: cover;
                border-radius: 10px;
            }

            .ho{
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80%;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.862);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                transition: opacity .2s ease-in-out;

                button {
                    -webkit-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                    -moz-box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.69);
                    box-shadow: -1px 1px 49px 1px rgba(255, 0, 0, 0.363);
                    background-color: red;
                    // margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 5px;

                    p{
                        color: black;
                    }
                }

                p{
                    margin: 2px;
                }

                .overview {
                    font-size: .7rem;
                    text-align: center;
                    color: grey;
                }
            }

            .ho:hover{
                opacity: 1;
            }

            

            .details{
                width: 100%;
                height: 20%;
                display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                
                .title{
                    color: white;
                }
            }
        }
    }
}