$leftMargin: 15vw;
$topMargin: 5vh;
$borderRadius: 20px;
$primaryColor: red;
$darkColor: rgb(40, 40, 40);
$fontColorGray: grey;
$fontColorLightGray: rgba(0, 0, 0, 0.178);
$backgroundGradient: linear-gradient(180deg, $fontColorLightGray, black 100%);
$thumbnailHeight: 180px;
$topInfoWidth: 50%;
$topRatedHeight: 35vh;
$topRatedWidth: 50%;
$buttonTransitionDuration: 0.3s;
$boxShadowColor: rgba(255, 0, 0, 0.69);

// Reusable Mixins
@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.search-bg-image{
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  left: 0;
  bottom: 0;
  border-top-left-radius: $borderRadius;
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.search-nav {

    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;

    z-index: 1;
    border-top-left-radius: $borderRadius;

    h1{
        margin-top: 2vh;

        font-size: 2rem;
    }

    .back-image {
        @include image();
        border-top-left-radius: $borderRadius;
        
        filter: brightness(0%);
    }

    .content {
      background-color: rgba(0, 0, 0, 0.561);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        position: absolute;
  left: 15vw;
  right: 15vw;
  bottom: 6vh;
        top: calc(2rem + 5vh);
        z-index: 2;
        border-radius: $borderRadius;
        overflow-y: auto;

        .search-results {
          
          width: 100%;
            // margin: 2vh 4vw;
            // height: $topRatedHeight;
            @include centerFlex;
            flex-direction: column;
        
            img {
              width: 100%;
              height: fit-content;
              max-height: 80%;
              object-fit: cover;
              border-radius: $borderRadius;
              // margin-right: 5%;
            }
        
            .content-div {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              width: 100%;
              height: 20%;

              h2 {
                font-size: 1rem;
              }
    
              p {
                font-size: .8rem;
                color: $fontColorGray;
              }
        
              .top-bar {
                @include centerFlex;
        
                .bar-content {
                  width: 80%;
        
                  
                }
        
                .genre {
                  display: flex;
        
                  div {
                    margin-right: 10px;
                    padding: 4px 10px;
                    background-color: $primaryColor;
                    border-radius: 15px;
                    font-size: 0.7rem;
                  }
                }
              }
        
              .des {
                max-width: 80%;
                color: $fontColorGray;
                font-size: 0.9rem;
              }
            }
          }

        .search-items {
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 10vw;
            transition: min-width 400ms ease-in-out;

            
            // height: 80%;
            

            img{
                position: absolute;
                @include image();
                border-radius: 15px;
                z-index: -1;
            }
            &:hover{
                min-width: 30vw;
            }

            p{
                display: flex;
                font-size: 1.5rem;
            }
        }

        

    }

}