.streaming-div{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    
    

    iframe {
        width: 80%;
    height: 80%;
      }
}
