.side-nav{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0vh;
    bottom: 0;
    width: 15vw;
    // background-color: rgb(255, 7, 7);
    display: flex;

    .selectors{
        background-color: rgb(13, 13, 13);
        height: 100%;
        width: 30%;
        // background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            
            color: red;
        }

        img{
            width: 2.3vw;
            margin-bottom: 1vh;
            height: 2.3vw;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .tabs{

        .active{
            border-left: 4px solid rgb(255, 0, 0);
            color: white;
        }
        hr{
            margin: 2vh 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgb(48, 48, 48);
            width: 80%;
        }
        h1{
            margin-top: 2vh;
            margin-left: 15%;
        }
        padding-top: 10vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgb(13, 13, 13);
        // border-left: 1px solid rgba(40, 40, 40, 0.579);

        button{
            padding-left: 15%;
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: start;
            color: gray;
            // border-left: 4px solid red;
            margin-top: 1vh;

            i{
                margin-right: 10%;
            }

            p{
                font-size: 1rem;
            }
        }
    }
}