.search-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .search-bar{
        width: 40%;
        height: 50px;
        border-bottom: 1px solid grey;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;

        input{
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            color: grey;
        }
        i{
            cursor: pointer;
        }
    }
}