.titlebar {
    height: 2.5vw;
    background-color: rgb(0, 0, 0);
    /* user-select: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 10vw;
    right: 0;
    z-index: 9999;
  }
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    font-size: 12px;
  }
  .titlebar-button:hover {
    background: rgb(255, 0, 0);
  }
  
  .titlebar h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
  }
  
  .titlebar .options {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .options img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 30px;
  }
  
  .btns{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }
  
  .btns button {
    color: rgb(232, 232, 232);
    margin-right: 4.5vw;
    font-size: 0.8rem;
  }
  
  .search-bar {
    width: 30vw;
    /* background-color: aqua; */
    height: 50px;
    /* border-bottom: 1px solid grey; */
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
  
  i {
    cursor: pointer;
  }
  
  
  .search-input {
    outline: none;
    width: 80%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: grey;
  }
  
  .search-input:focus{
    background-color: transparent;
  }
  