.movie-row{

    margin: 5vh 4vw;
    height: 350px;
    position: relative;
    

    .movies-content{
        overflow-x: scroll;
        display: flex;
        height: 350px;
        scroll-behavior: smooth; /* Enable smooth scrolling behavior */
//   scroll-snap-type: x mandatory; /* Enable snap-scrolling in the x-direction */
//   white-space: nowrap;
        transform: translate(00%,0);
    }

//     .layer{
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         background: rgb(0,0,0);
// background: linear-gradient(90deg, rgba(0,0,0,0.56) 0%, rgba(0,0,0,0) 9%, rgba(0,0,0,0) 93%, rgba(0,0,0,0.560749299719888) 100%);
//     }
    // background-color: aqua;
}